/*Header*/

header ul {
background-color: #102640;
color: #ff4b4b;
}

nav li {
  text-decoration: none;
}

nav li:hover {
color: green;
}

.banner {
  overflow: hidden;
  max-height: 20em;
}

.thumbnail {
display: inline-block;
overflow: hidden;
  width: 6em;
}

.article-title {
  display: inline-block;
  vertical-align: top;
  width: 67%;
}
