/* Header */

header ul {
background-color: #102640;
}

header li:first-child {
  padding-left: 1em;
}

header li:last-child {
  padding-right: 1em;
}

header a {
  text-decoration: none;
  color: #ff4b4b;
}

header a:hover {
color: #fff;
}

h1 {
  position: absolute;
  left: 2em;
  top: 4em;
  color: #ff4b4b;
}

.banner p {
  position: absolute;
  left: 4em;
  top: 10em;
  color: #fff;
}


/*Main*/
h2 {
color: #ff4b4b;
}

.banner {
  overflow: hidden;
  max-height: 20em;
}

.thumbnail {
display: inline-block;
overflow: hidden;
  width: 6em;
}

.article-title {
  display: inline-block;
  vertical-align: top;
  width: 67%;
}

.join {
  background-color: #fff188;
}

footer {
  background-color: #102640;
  color: #fff;
}
