/*Header*/

header ul {
background-color: #102640;
}

header li:first-child {
  padding-left: 1em;
}

header li:last-child {
  padding-right: 1em;
}

header a {
  text-decoration: none;
  color: #ff4b4b;
}

header a:hover {
color: #fff;
}

.banner {
  overflow: hidden;
  max-height: 20em;
}

.thumbnail {
display: inline-block;
overflow: hidden;
  width: 6em;
}

.article-title {
  display: inline-block;
  vertical-align: top;
  width: 67%;
}
